---
layout: ""
page_title: "hpegl_vmaas_snapshot Snapshot - vmaas-terraform-snapshot"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Resource hpegl_vmaas_snapshot

{{ .Description | trimspace }}

~> Snapshot for an instance created cannot be deleted via terraform. End user
    need to login into GLC portal and clear the snapshot. Once deleted you also
    need to delete the snapshot entry from you `tf` file.

~> Snapshot will be deleted in case of any reconfigure happens in morpheus. such as
    volumes/Network update etc. Once snapshot is deleted entry should be removed from
    tf file

{{ .SchemaMarkdown | trimspace }}
