---
layout: ""
page_title: "hpegl_vmaas_snapshot Snapshot - vmaas-terraform-snapshot"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Resource hpegl_vmaas_snapshot

{{ .Description | trimspace }}

~> Snapshot deletion from terraform is not supported (yet). End user need to login into GLC portal
  to delete the snapshot. Once deleted, the snapshot entry should be removed from corresponding `tf` file.

~> Snapshot will be deleted in if there is any modification to instance (such as
    volumes and/or Network update).Also snapshot will be deleted if the corresponding
    instance gets deleted. Once snapshot is deleted (through above cases mentioned)
    corresponding snapshot entry should be removed from `tf` file.

{{ .SchemaMarkdown | trimspace }}
